<%= semantic_bootstrap_nested_form_for (@tagging_update || raise("No @tagging_update")), url: update_tagging_edition_path(@resource) do |f| %>
  <%= f.hidden_field :content_id %>
  <%= f.hidden_field :previous_version %>

  <div class="row">
    <div class="col-md-7 edition-tags">
      <div class="form-group" id="edition_parent_input">
        <%= f.label :parent, "Parent/Breadcrumb", class: 'control-label remove-bottom-margin' %>
        <%= f.select :parent,
                        Tagging::Linkables.mainstream_browse_pages,
                        {},
                        { multiple: false,
                          class: 'selectize',
                          data: { placeholder: 'Choose parent/breadcrumb…' } } %>
      </div>
      <div class="form-group" id="edition_browse_pages_input">
        <%= f.label :mainstream_browse_pages, class: 'control-label' %>
        <%= f.select :mainstream_browse_pages,
                        Tagging::Linkables.mainstream_browse_pages,
                        {},
                        { multiple: true,
                          class: 'select2',
                          data: { placeholder: 'Choose mainstream browse pages…' } } %>
      </div>
      <div class="form-group" id="edition_topics_input">
        <%= f.label :topics, class: 'control-label' %>
        <%= f.select :topics, Tagging::Linkables.topics,
                        {},
                        { multiple: true,
                          class: 'select2',
                          data: { placeholder: 'Choose topics…' } } %>
      </div>
    </div>
  </div>

  <%= f.submit 'Update tagging' %>
<% end %>
